<div id='dashboard-container'>
    <% users.forEach((user) => { %>
        <div class='user-row <%= user.isBlocked && 'blocked' %>'>
        <span class='username'>
            <%= user.username %> <%= user.isBlocked ? '(zablokowany)' : '' %>
        </span>
            <div class='user-panel'>
                <img src='public/assets/Modify-user.svg' data-action='modify' data-user-id='<%= user.id %>'
                     data-user-username='<%= user.username %>'
                     data-user-permission='<%= user.permission %>'
                     data-user-blocked='<%= user.isBlocked %>'
                     alt='Zmień uprawnienia użytkownika' title='Zmień uprawnienia użytkownika'
                     class='user-action-button'>
                <img src='public/assets/Delete-user.svg' data-action='delete' data-user-id='<%= user.id %>'
                     data-user-username='<%= user.username %>'
                     data-user-permission='<%= user.permission %>'
                     data-user-blocked='<%= user.isBlocked %>'
                     alt='Usuń użytkownika' title='Usuń użytkownika' class='user-action-button'>
                <img src='public/assets/Block-user.svg' data-action='block' data-user-id='<%= user.id %>'
                     data-user-username='<%= user.username %>'
                     data-user-permission='<%= user.permission %>'
                     data-user-blocked='<%= user.isBlocked %>'
                     alt='Zablokuj użytkownika' title='Zablokuj użytkownika' class='user-action-button'>
            </div>
        </div>
    <% }) %>
</div>