<div class="filter-container">
    <form class="filters" name="filters">
        <div class="release-year border grid-item-center">
            <p>
                <div>Rok premiery: <span id="production-year"></span></div>
            </p>
            <div class="slider-range" id="production-year-slider"></div>
        </div>

        <div class="date-added border grid-item-center">
            <p>
                <div>Data dodania: <span id="add-date"></span></div>
            </p>
            <div class="slider-range" id="add-date-slider"></div>
        </div>
        <div class="lists">
            <label for="film-genre" class="custom-select">
                <select id="film-genre">
                    <option value="" hidden>Gatunek</option>
                    <% genres.forEach(genre => { %>
                        <option class="capitalize" value="<%= genre %>"><%= genre %></option>
                    <% })%>
                </select>
            </label>
            <label for="country-production" class="custom-select">
                <select id="country-production">
                    <option value="" hidden>Kraj produkcji</option>
                    <% productionCountries.forEach(country => { %>
                        <option class="capitalize" value="<%= country %>"><%= country %></option>
                    <% })%>
                </select>
            </label>
        </div>
        <div class="buttons">
            <input type="button" value="Reset" id="reset" onclick="location.assign('/')">
            <input type="button" value="Filtruj" id="filter" class="primary-button">
        </div>
    </form>
</div>
<div class="movies-list">
    <% movies.forEach(movie => {%>
        <%- include('components/moviePreview', { movie }) %>
    <% }) %>
</div>