<div class='movie-info'>
    <span class='header-primary movie-title'><%= movie.title %></span>
    <div class='movie-description'>
        <div class='key-value'>
            <span>
                gatunek
            </span>
            <span>
                <%= movie.genre %>
            </span>
        </div>
        <div class='key-value'>
            <span>
                kraj produkcji
            </span>
            <span>
                <%= movie.productionCountry%>
            </span>
        </div>
        <div class='key-value'>
            <span>
                rok produkcji
            </span>
            <span>
                <%= movie.productionYear %>
            </span>
        </div>
        <div class='key-value'>
            <span>
                data dodania
            </span>
            <span>
                <%= movie.addDate %>
            </span>
        </div>
        <div class='key-value'>
            <span>
                reżyser
            </span>
            <span>
                <%= movie.director %>
            </span>
        </div>
    </div>
</div>